body { 
  background: #f0f5f4;
  margin: 0;
  text-align: center;
  font-family: 'Donegal One', serif;
}
a {
  cursor: pointer;
  text-decoration: underline;
  color: #102314;
}
footer a {
  color: #fff;
}
form {
  margin: 0;
  padding: 0;
}
h1 { 
  margin-top: 1em;
  color: rgba(16, 35, 20, 0.80);
  margin-bottom: 0;
  font-size: 3em;
  letter-spacing: 0.1em;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #d0f4d8;
  display: inline-block;
  padding: 0.25em 0;
  background: rgba(20, 40, 30, 0.9);
}
code {
  white-space: pre;
  background: rgba(160, 190, 150, 0.85);
  line-height: 1.5em;
  display: block;
  text-align: left;
  margin: 1em 0; 
  color: #000;
  font-size: 1.25em;
  padding: 1em;
}
p {
  font-size: 1.25em;
  margin-bottom: 0;
  margin-top: 0;
}
button,#url {
  display: block;
  font-family: 'Donegal One', serif;
  font-size: 1.5em;
}
button { 
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  color: #d0f4d8;
  background: transparent;
  padding: 0.3em 0;
  border: 0;
}
button:active{
  color: #fff;
  padding: 0.4em 0 0.2em;
  text-indent: 0.2em;
}
button:hover{
  cursor: pointer;
}
#new { 
  margin-top: 1em;
  display:block;
}
#title {
  color: rgba(16, 35, 20, 0.80);
  text-align: right;
  display:inline-block;
  vertical-align:top;
  padding: 0 3em;
}
#title h2 {
  color: rgba(16, 35, 20, 0.60);
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: -0.5em;
  margin-bottom: 0;
}
#transform:hover {
  cursor: pointer;
  background: rgba(10,180,40,0.8);
}
#url {
  width: 30em;
  padding: 0.35em;
  margin: 1.25em 1.5em;
  font-size: 1.25em;
  border: 2px solid rgba(10,100,40,0.8);
  border-radius: 4px;
}
.active > #loader { display: inline-block; padding:0.58em 0 ;width:80px;}
#loader           { display: none; }

.active > #doTransform { display: none; }

#transform{
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 1em; 
  padding: 0;
  background: rgba(20,120,30,0.8);
  border-radius: 0 0 7px 7px;
}
#linkContainer {
  display: none;
  padding: 0;
  top: 0;
  margin: 0;
  left: 0;
  color: #d0f4d8;
  width: 100%;
  font-size: 1.25em;
}
#link {
  font-size: 0.9em;
  padding: 0.75em 0 0.5em;
  background: rgba(16, 35, 20, 0.8);
  margin: 0;
}
#clipboard-wrapper:hover {
  background: rgba(10,180,40,0.8);
  color: #243;
}
#clipboard-wrapper:active {
  padding: 0.35em 0 0.15em;
  color: #fff;
}
#clipboard-wrapper {
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: underline;
  background: rgba(78, 130, 80, 0.7);
  cursor: pointer;
}
#clipboard-wrapper a{
  color: #fff;
}
#main-wrap {
  display: inline-block;
}
#main {
  margin-top: 1em;
  border-radius: 6px;
  padding-top: 1.75em;
  background: rgba(160, 190, 150, 0.85);
  display: inline-block;
}
#donate {
  color: #343;
  font-size: 0.75em;
  line-height: 40px;
}

@media only screen
and (max-width : 767px) {
  h1 { 
    margin-top: 0;
  }
  #title {
    float: none;
    text-align: center;
    display: block;
  }
  #donate {
    display: none
  }
  form {
    padding: .5em .5em;
  }
  #extra {
    display: none;
  }
  #url {
    margin:0;
    width: 100%;
  }
}
